/**
 * index page
 */
.pictogram-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        @extend %clearfix;

        > a {
            > img {
                float: left;
                width: 100px;
                margin-right: $spacing-unit;
            }
        }
    }
}

/**
 * Pictogram page
 */
.pictogram {
    // English is the default language.
    .pictogram-m17n:not([lang="en"]) {
        display: none;
    }
}

/**
 * Language Selector
 */
.pictogram-language-selector {
    button {
        font-size: $base-font-size * 0.80;
        border-style: 1px solid;
        border-radius: 5px;
        height: 40px;
        cursor: pointer;
    }
}