/**
 * index page
 */
.pictogram-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        @extend %clearfix;

        > a {
            > img {
                float: left;
                width: 100px;
                margin-right: $spacing-unit;
            }
        }
    }
}

/**
 * Pictogram page
 */
.pictogram {
    #pictogram-language-selector {
        display: none;
        > .pictogram-m17n-switch {
            font-size: $base-font-size * 0.80;
            background-color: $background-color;
            border: 1px solid;
            border-radius: 5px;
            height: 40px;
            cursor: pointer;
        }
        > .pictogram-m17n-switch.selected {
                background-color: $grey-color;
        }
    }
    .pictogram-image {
        background-color: white;
    }
}
