---
layout: default
labels:
  language:
    en: English
    ja: 日本語
  availableLanguages:
    en: Available Languages
    ja: 利用可能な言語
  description:
    en: Description
    ja: 説明
  permission:
    en: Permission
    ja: 利用許諾
  author:
    en: Author
    ja: 作者
  source:
    en: Source
    ja: 情報源
  code:
    en: Code
    ja: コード
  codeUsage:
    en: Copy and paste this code into your webpage.
    ja: このコードをコピーアンドペーストしてください。
  rawData:
    en: Raw Data
    ja: 生データ
  rawDataLink:
    en: Source on GitHub
    ja: GitHubのソース
---
{% capture permalinkOfPage %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
{% capture permalinkOfResource %}{{ permalinkOfPage | replace:'.html','' }}{% endcapture %}

<div class="pictogram" vocab="{{ site.url }}/vocabulary#">

  <nav>
    <div id="pictogram-language-selector">
      {% for lang in page.languages %}
        <h2 class="pictogram-m17n" lang="{{ lang }}">{{ layout.labels.availableLanguages[lang] }}</h2>
      {% endfor %}
      {% for lang in page.languages %}
        <button onclick="switchLanguage(this.attributes.lang.value)" lang="{{ lang }}" class="pictogram-m17n-switch">{{ layout.labels.language[lang] }}</button>
      {% endfor %}
    </div>
  </nav>

  {% for lang in page.languages %}
    <header class="pictogram-m17n pictogram-header" lang="{{ lang }}">
      <h1 property="name" class="pictogram-name">{{ page.name[lang] }}</h1>
      <p property="shortDescription" class="pictogram-short-description">{{ page.short_description[lang] }}</p>
    </header>
  {% endfor %}

  <article class="pictogram-content">
    <img class="pictogram-image" property="image" src="{{ page.url | replace: '.html','.svg' }}" alt="{{ page.name.en }}"/>

    {% if page.long_description %}
      {% for lang in page.languages %}
        <section class="pictogram-m17n pictogram-long-description" lang="{{ lang }}">
          <h2>{{ layout.labels.description[lang] }}</h2>
          <div property="longDescription">{{ page.long_description[lang] | markdownify }}</div>
        </section>
      {% endfor %}
    {% endif %}

    {% if page.author %}
      {% for lang in page.languages %}
        <section class="pictogram-m17n pictogram-author" lang="{{ lang }}">
          <h2>{{ layout.labels.author[lang] }}</h2>
          <div property="author">{{ page.author[lang] | markdownify }}</div>
        </section>
      {% endfor %}
    {% endif %}

    {% if page.source %}
      {% for lang in page.languages %}
        <section class="pictogram-m17n pictogram-source" lang="{{ lang }}">
          <h2>{{ layout.labels.source[lang] }}</h2>
          {% if page.source_uri %}
            <a property="sourceURI" href="{{ page.source_uri }}"><span property="source">{{ page.source[lang] | markdownify }}</span></a>
          {% else %}
            <span property="source">{{ page.source[lang] | markdownify }}</span>
          {% endif %}
        </section>
      {% endfor %}
    {% endif %}

    {% if page.permission %}
      {% for lang in page.languages %}
        <section class="pictogram-m17n pictogram-permission" lang="{{ lang }}">
          <h2>{{ layout.labels.permission[lang] }}</h2>
          <div property="permission">{{ page.permission[lang] | markdownify }}</div>
        </section>
      {% endfor %}
    {% endif %}

    <section id="code">
      {% for lang in page.languages %}
        <h2 class="pictogram-m17n" lang="{{ lang }}">{{ layout.labels.code[lang] }}</h2>
        <p class="pictogram-m17n" lang="{{ lang }}">{{ layout.labels.codeUsage[lang] }}</p>
      {% endfor %}
      {% highlight html %}<a property="{{ site.url }}/vocabulary#Pictogram" href="{{ permalinkOfResource }}"><img src="{{ page.url | replace:'.html','.svg' | prepend: site.baseurl | prepend: site.url }}" alt="{{ page.name.en }}"></a>
      {% endhighlight %}
    </section>

    <section id="links">
      <h2 lang="en">Linked Data (Turtle)</h2>
<pre><code>&lt;<a href="{{ permalinkOfResource }}">{{ permalinkOfResource }}</a>&gt;
{% for link in page.links %}  {{ link[0] }} &lt;<a property="{{ link[0]}}" href="{{ link[1] }}">{{ link[1] }}</a>&gt; {% if forloop.last %}.{% else %};{% endif %}
{% endfor %}</code></pre>
    </section>

    <section id="raw_data">
      {% for lang in page.languages %}
        <h2 class="pictogram-m17n" lang="{{ lang }}">{{ layout.labels.rawData[lang] }}</h2>
        <p class="pictogram-m17n" lang="{{ lang }}"><a href="https://github.com/hyperpictogram/pictogram.tokyo/blob/master/{{ page.relative_path }}">{{ layout.labels.rawDataLink[lang] }}</a></p>
      {% endfor %}
    </section>
  </article>
</div>

<script type="text/javascript" src="/js/m17n.js"></script>
<script type="text/javascript">

// enable language selector
var languageSelector = document.getElementById("pictogram-language-selector")
languageSelector.style.display = "block"

// display the default language
var language = window.navigator.userLanguage || window.navigator.language || "en-US"
if (language) {
  var lang = language.substr(0,2)
  switchLanguage(lang)
}
</script>