---
layout: default
labels:
  language:
    en: English
    ja: 日本語
  availableLanguages:
    en: Available Languages
    ja: 利用可能な言語
  description:
    en: Description
    ja: 説明
  permission:
    en: Permission
    ja: 利用許諾
  author:
    en: Author
    ja: 作者
  source:
    en: Source
    ja: 情報源
  code:
    en: Code
    ja: コード
---
<div class="pictogram">

  <nav>
    <div id="pictogram-language-selector">
      {% for lang in page.languages %}
        <h2 class="pictogram-m17n" lang="{{ lang }}">{{ layout.labels.availableLanguages[lang] }}</h2>
      {% endfor %}
      {% for lang in page.languages %}
        <button onclick="switchLanguage(this.attributes.lang.value)" lang="{{ lang }}" class="pictogram-m17n-switch">{{ layout.labels.language[lang] }}</button>
      {% endfor %}
    </div>
  </nav>

  {% for lang in page.languages %}
    <header class="pictogram-m17n pictogram-header" lang="{{ lang }}">
      <h1 class="pictogram-name">{{ page.name[lang] }}</h1>
      <p class="pictogram-meta">{{ page.short_description[lang] }}</p>
    </header>
  {% endfor %}

  <article class="pictogram-content">
    <section id="image">
      <img src="{{ page.image_file }}" alt="{{ page.name.en }}"/>
    </section>

    {% if page.long_description %}
      {% for long_description in page.long_description %}
        {% assign lang = long_description[0] %}
        {% assign label = long_description[1] %}
        <section class="pictogram-m17n pictogram-long_description" lang="{{ lang }}">
          <h2>{{ layout.labels.long_description[lang] }}</h2>
          <div>{{ page.long_description[lang] | markdownify }}</div>
        </section>
      {% endfor %}
    {% endif %}

    {% if page.author %}
      {% for author in page.author %}
        {% assign lang = author[0] %}
        {% assign label = author[1] %}
        <section class="pictogram-m17n pictogram-author" lang="{{ lang }}">
          <h2>{{ layout.labels.author[lang] }}</h2>
          <div>{{ page.author[lang] | markdownify }}</div>
        </section>
      {% endfor %}
    {% endif %}

    {% if page.source %}
      {% for source in page.source %}
        {% assign lang = source[0] %}
        {% assign label = source[1] %}
        <section class="pictogram-m17n pictogram-source" lang="{{ lang }}">
          <h2>{{ layout.labels.source[lang] }}</h2>
          {% if page.source_url %}
            <a href="{{ page.source_url }}">{{ page.source[lang] | markdownify }}</a>
          {% else %}
            {{ page.source[lang] | markdownify }}
          {% endif %}
        </section>
      {% endfor %}
    {% endif %}

    {% if page.permission %}
      {% for permission in page.permission %}
        {% assign lang = permission[0] %}
        {% assign label = permission[1] %}
        <section class="pictogram-m17n pictogram-permission" lang="{{ lang }}">
          <h2>{{ layout.labels.permission[lang] }}</h2>
          <div>{{ page.permission[lang] | markdownify }}</div>
        </section>
      {% endfor %}
    {% endif %}

    <section id="code">
      {% for lang in page.languages %}
        <h2 class="pictogram-m17n" lang="{{ lang }}">{{ layout.labels.code[lang] }}</h2>
      {% endfor %}
      {% highlight html %}<a property="{{ site.url }}/ns#pictogram" href="{{ site.url }}{{ page.url | remove:'index.html' }}"><img src="{{ site.url }}{{ page.url | remove:'index.html' }}{{ page.image_file }}" alt="{{ page.name.en }}"></a>
      {% endhighlight %}
    </section>
  </article>
</div>
<script type="text/javascript" src="/js/m17n.js"></script>
<script type="text/javascript">

// enable language selector
var languageSelector = document.getElementById("pictogram-language-selector")
languageSelector.style.display = "block"

// display the default language
var language = window.navigator.userLanguage || window.navigator.language
if (language) {
  var lang = language.substr(0,2)
  switchLanguage(lang)
}
</script>